.platformSection {
  padding-top: 3rem;
  background: white;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.platformSectionCenter {
  width: 90vw;
  margin: 0 auto;
  padding-left: 6%;
  padding-right: 6%;
  max-width: 1170px;
  height: 1000px;
}

.newsTitle {
  float: left;
  width: 75%;
  padding: 10px;
  text-align: left;
  top: 50%;
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.brPlatformDisplay1 {
  display: block;
}

.stickToLeft {
  position: absolute;
  left: 12%;
  bottom: 7%;
}
.carousel-indicators {
  visibility: hidden;
}

.carousel-control-next-icon {
  background-image: url("./go-to-right.png");
  height: 8px;
  width: 25px;
}
.carousel-control-next {
  top: 80%;
  opacity: 1;
}
.carousel-control-prev-icon {
  visibility: hidden;
}
.carousel-caption {
  top: 4%;
  left: 4%;
  padding-top: 0px;
  text-align: left;
}

@media screen and (min-width: 992px) {
  .platformSectionCenter {
    width: 95vw;
  }
}

@media screen and (max-width: 1025px) {
  .stickToLeft {
    position: absolute;
    left: 10%;
    bottom: 2%;
  }
}
@media screen and (max-width: 850px) {
  .stickToLeft {
    position: absolute;
    left: 9%;
    bottom: 2%;
  }
  .brPlatformDisplay1 {
    display: none;
  }
  .brPlatformDisplay2 {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .stickToLeft {
    position: absolute;
    left: 4%;
    // bottom:3%;
    margin-bottom: 10px;
    // padding-bottom: 5px;
  }
  .brPlatformDisplay1 {
    display: block;
  }
  .brPlatformDisplay2 {
    display: block;
  }
}
