$columnNumber: 2;
.fields-info-top {
	display: grid;
	grid-template-columns: repeat($columnNumber, calc(100vw / #{$columnNumber}));

	.left-container {
		.banner-image-container {
			img {
				max-width: 100%;
				min-width: 100%;
				max-height: 100%;
			}
		}
	}

	.right-container {
		.banner-text-container {
			background-color: rgb(133, 35, 20);
			color: white;
			height: 100%;
			display: grid;
			grid-template-columns: 2fr 3fr;

			.banner-text-left {
				padding-left: 20%;
				padding-right: 10%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.banner-title {
					font-size: 2vw;
					font-weight: bold;
					padding-bottom: 2rem;
				}
				.banner-subtitle {
					font-size: 1vw;
				}
			}
			.banner-title-english {
				font-size: 10vw;
				font-style: italic;
				display: flex;
				align-items: center;
			}
		}
	}
}