@import "../../common/sizes.scss";
.fields-info-top {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 50vw 50vw;
	-ms-grid-columns: 1fr 1fr;

	.left-container {
		-ms-grid-column: 1;
		.banner-image-container {
			img {
				max-width: 100%;
				min-width: 100%;
				max-height: 100%;
			}
		}
	}

	.right-container {
		-ms-grid-column: 2;
		.banner-text-container {
			background-color: rgb(133, 35, 20);
			padding:1.25rem;
			color: white;
			height: 100%;
			display: grid;
			display: -ms-grid;
			grid-template-columns: 3fr 2fr;
			-ms-grid-columns: 3fr 2fr;

			.banner-text-left {
				-ms-grid-column: 1;
				-ms-grid-column-span: 2;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.banner-title {
					font-size: calc(15px + 0.3vw);
					font-weight: bold;
					padding-bottom: calc(10px + 0.2vw);
				}
				.banner-subtitle {
					font-size: calc(13px + 0.2vw);
				}
			}
			.banner-title-english {
				-ms-grid-column: 3;
				font-size: calc(10px + 7vw);
				transform: scale(1, 1.2);
				font-weight: 550;
				font-style: italic;
				display: flex;
				align-items: center;
				justify-content: flex-end;
			}
		}
	}
}

@media (max-width: $small) {
	.fields-info-top {
		grid-template-columns: 100vw;
		-ms-grid-columns: 1fr;
		.right-container{
			.banner-text-container {
				grid-template-columns: 2fr 1fr;
				-ms-grid-columns: 2fr 1fr;
			}
		}
	}
}
