@import "../../common/sizes.scss";
.fields-info-top {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 50vw 50vw;
	-ms-grid-columns: 1fr 1fr;

	.left-container {
		-ms-grid-column: 1;
		.banner-image-container {
			img {
				max-width: 100%;
				min-width: 100%;
				max-height: 100%;
			}
		}
	}

	.right-container {
		-ms-grid-column: 2;
		.banner-text-container {
			background-color: rgb(133, 35, 20);
			color: white;
			height: 100%;
			display: grid;
			display: -ms-grid;
			grid-template-columns: 2fr 3fr;
			-ms-grid-columns: 2fr 3fr;

			.banner-text-left {
				-ms-grid-column: 1;
				-ms-grid-column-span: 2;
				padding-left: 20%;
				padding-right: 10%;
				display: flex;
				flex-direction: column;
				justify-content: center;

				.banner-title {
					font-size: 2vw;
					font-weight: bold;
					padding-bottom: 2rem;
				}
				.banner-subtitle {
					font-size: 1vw;
				}
			}
			.banner-title-english {
				-ms-grid-column: 3;
				font-size: 10vw;
				font-style: italic;
				display: flex;
				align-items: center;
				justify-content: flex-end;
				padding-right: 16px;
			}
		}
	}
}
