.cooperatorSection {
  padding-top: 3rem;
  background: white;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5rem;
  width: 100%;
}

.cooperatorSectionCenter {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
