.pStyle{
    line-height: calc(16px+0.5vw);
    font-size: calc(13px+0.5vw);
}

.productDetailsSection {
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 10%;
    background:rgb(248,248,248);
  }

.productPrevIconStyle{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: no-repeat 50%/100% 100%;
}