@import '../../common/sizes.scss';
.field-info-body-container {
	.field-info-columns {
		column-count: 2;
		column-gap: 5%;

		.field-info-card {
			width: 100%;
			break-inside: avoid;
			page-break-inside: avoid;
			
			&.style-0 {
				padding-top: 15%;
				padding-bottom: 15%;
				.card-inner-container {
					margin-left: auto;
    				margin-right: auto;
					width: 75%;
					padding-bottom: 0%;
					.info-card {
						padding: 15%;
						.info-content{
							.info-link{
								color:black;
								font-size: 12px;
								&:hover{
									color: #902413;
        							outline: none; 
        							text-decoration: none;
								}
							}
						}
					}
					.info-card-decoration {
						transform: scale(0.8) translate(-30%, -90%);
					}
				}
			}
			&.style-1 {
				padding-top: 35%;
				padding-bottom: 5%;
				.card-inner-container {
					width: 75%;
					margin-left: auto;
    				margin-right: auto;
					.info-card {
						padding: 15%;						
						.info-content {
							font-size: calc(10px + 0.5vw);
							.info-link{
								color:black;
								font-size: 12px;
								&:hover{
									color: #902413;
        							outline: none; 
        							text-decoration: none;
								}
							}
						}
					}
					.info-card-decoration {
						transform: scale(0.8) translate(0%, -40%);
					}
					
				}
			}
			&.style-2 {
				column-span: all;
				.card-inner-container {
					width: 92%;
					padding-bottom: 10%;
					margin-left: auto;
    				margin-right: auto;
					padding-top: 10%;
					.info-card {
						padding: 5%;
						display: grid;
						display: -ms-grid;
						grid-template-columns: 1fr 2fr;
						-ms-grid-columns: 1fr 2fr;
						.card-title-section {
							display: flex;
							flex-direction: column;
							justify-content: space-between;
							.left-quote {
								opacity: 0.2;
								font-size: 8vw;
							}
						}

						.info-content {
							-ms-grid-column: 2;
							-ms-grid-column-span: 2;
							display: flex;
							align-items: center;
							font-size: calc(10px + 0.5vw);
							.info-link{
								color:black;
								font-size: 12px;
								&:hover{
									color: #902413;
        							outline: none; 
        							text-decoration: none;
								}
							}
							
						}
					}

					.info-card-decoration {
						transform: scale(0.6) translate(-18%, -60%);
					}
				}
			}
			.card-inner-container {
				position: relative;
				.info-card {
					position: relative;
					z-index: 1;
					padding: 15%;
					background-color: rgb(244, 244, 244);
					.info-title {
						font-size: calc(14px + 0.5vw);
						padding-bottom: 1vh;
					}
					.info-date {
						font-size: calc(10px + 0.5vw);
						padding-top: 1vh;
						padding-bottom: 1vh;
					}
				}
				.info-card-decoration {
					position: absolute;
					img {
						max-width: 100%;
					}
				}
			}
		}
	}
}


@media (max-width: $large) {
	.field-info-body-container {
		column-gap: 0%;
		.field-info-columns {
			.field-info-card{
				&.style-0{
					.card-inner-container {
						width:83%;
					}

				}
				&.style-1{
					.card-inner-container {
						width:83%;
					}

				}
			}
			
		}
	}
}

@media (max-width: $small) {
	.field-info-body-container {
		.field-info-columns {
			column-count: 1;
			.field-info-card{
				&.style-2{
					.card-inner-container {
						padding-top: 20%;
						padding-bottom: 20%;
					}

				}
			}
			
		}
	}
}
