.homePageAboutUsSection {
    padding-top: 3rem;
    background: white;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .brDisplay1{
    display: block;
  }
  .brDisplay2{
    display: block;
  }

  .stickToRight{
   position:absolute;
   right:2%;
   bottom:3%;
  }





  @media screen and (max-width:992px){
    .brDisplay1{
      display:none;
    }
    .brDisplay2{
      display: none;
    }

    .stickToRight{
      bottom:1%;
    }
  }

  @media screen and (max-width:768px){
    .brDisplay1{
      display:block;
    }
    .brDisplay2{
      display:block;
    }
    .stickToRight{
      bottom:-3%;
    }

  }

  @media screen and (min-width: 1250px) {
    .homePageAboutUsSection {
      padding-left: 7%;
      padding-right: 7%;
    }
    .rowClass{
         padding-left: 0%;
         padding-right:0%;
    }
  }

  @media screen and (min-width: 1400px) {
    .homePageAboutUsSection {
      padding-left: 7%;
      padding-right: 7%;
    }
    .rowClass{
           padding-left: 2%;
           padding-right:2%;
    }
  }


 

