.newsCenterSection {
  padding-top: 3rem;
  background: white;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.newsSectionCenter {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

.newsSeparator{
    width: 100%;
    height: 2px;
    margin-bottom: 0.5rem;
    background: #f5f5f5;
    margin-left: 0;
    margin-right: 0;
}

  .newsImage{
    width:100%;
    height: auto;
    object-fit:contain;
  }
  
  .arrow{
    padding-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;  
    .moreButton{
      font-size: 11px;
      color:black;
      padding-left: 10px;
      border: none;
      background-color: white;
      &:focus { outline: none; }
      &:hover {
        color: #902413;
        outline: none; 
        text-decoration: none;

      }
    }
    .halfArrowImg{
      font-size: 11px;
      right:0;
      border: none;
      background-color: white;
      &:focus { outline: none; }
      &:hover {
        color: #902413;
      }
    }
  }

  .dateTime{
      float: left;
      width: 25%;
      padding: 10px;
      text-align: center;
  }
  .newsTitle{
    float: left;
    width: 75%;
    padding: 10px;
    text-align: left;
    top: 50%;
    font-weight: bold;
    margin-bottom: 0.6rem;
  }

  .newsTitleRow:after {
    content: "";
    display: table;
    clear: both;
  }

  .newsShortDescription {
    padding-left:10px;
    padding-right:10px;
    color:black;
    text-align: left;
    font-size: 12px;
    height:3em;
    line-height: 1.5em;
    overflow: hidden;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .linkToAllNews{
    text-decoration: none;
    color:rgb(71, 71, 73); 
    position : relative;
    text-align : center;
    &:hover{
      text-decoration: none;
      color: #902413;
    }
  }