@import 'carbon-components/scss/globals/scss/_typography';
@import 'carbon-components/scss/globals/scss/_css--font-face';
@import 'carbon-components/scss/globals/scss/_css--reset';

@include carbon--font-face-mono();
@include carbon--font-face-sans();
@include carbon--type-reset();
.about-us-middle-text {
	padding: $layout-07;
	color: $white-0;
	& .about-us-middle-text-title {
		@include carbon--type-style('productive-heading-05');
	}
	& .about-us-middle-text-space {
		height: $spacing-07;
	}
	& .about-us-middle-text-content {
		@include carbon--type-style('body-long-01');
	}
}