.homePageTopSection {
  width: 100%;
  box-sizing: border-box;

  .home-page-carousel {
    height: 100%;

    .carousel-inner {
      overflow: visible;
      .slideWrapper {
        display: flex;
        justify-content: center;
        .slide-anchor {
          position: relative;
          .top-slide-image {
            transform: translate(-10%, -10%);
            position: absolute;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  .carousel-control-next {
    top: 0;
  }
}
.carousel-indicators {
  background-color: black;
  bottom: -10%;
}
