.homePageTopSection {
  width: 100%;
  box-sizing: border-box;

  .home-page-carousel {
    height: 100%;

    .carousel-inner {
      overflow: visible;
      .slideWrapper {
        display: flex;
        justify-content: center;
        .slide-anchor {
          position: relative;
          .top-slide-image {
            z-index: 1;
            transform: translate(-5%, -5%);
            position: relative;
          }
          .bottom-slide-image {
            z-index: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(143,37,25);
            transform: translate(5%, -95%);
            position: relative;
          }
        }
        img {
          max-width: 100%;
        }
      }
    }
  }

  .carousel-control-next {
    top: 0;
  }
}
.carousel-indicators {
  background-color: black;
  bottom: -10%;
}
