  .nav-brand {
    display: flex !important;
    justify-content: space-between!important;
    align-items: center!important;
    
  }
  .nav-links {
    display: flex!important;
    justify-content: flex-end !important;
    font-weight: 525 !important;
    font-size: 0.8rem !important;
    color: rgb(89,89,89);
  }

  .toggle-btn {
    font-size: 1.6rem!important;
    background: transparent!important;
    border-color: transparent!important;
    color: var(--clr-primary-5)!important;
    cursor: pointer!important;
    transition: var(--transition)!important;
  }
  .toggle-btn:hover {
    color: #902413!important;
  }

  .nav-link{
    // set up space between top nav menu
    margin-right: 2rem!important;
    text-align: center !important;
  }

  .buttonContactUs{
    border-radius: 20px !important;
    padding-left:.75rem!important;
    padding-right:.75rem!important;
    font-size: 12px!important;
    padding-top:0.3rem!important;
    padding-bottom: 0.2rem!important;
    background-color: white!important;
    justify-content: center!important;
    color:black!important;
    border-color:black!important;
    &:focus { outline: none!important;text-decoration: none !important;box-shadow: none;}
    &:hover{color: #902413!important; text-decoration: none !important;}
    }
    .active
    {
      color: #902413!important;
    }
    .dropdown-item{
      padding-left: 2.3rem !important;
      min-width: 8rem !important;
      font-size: 0.9rem;
      &:hover{color: #902413!important; text-decoration: none !important;}
      &:focus { background-color: white!important;}
    }

  @media screen and (min-width: 768px) {
    .nav-links a {
      color: var(--clr-grey-1);
      text-decoration: none;
      letter-spacing: var(--spacing);
      transition: var(--transition);
      padding: 0.5rem 0;

      text-align: center !important;
    }
    .nav-links a:hover {
      color: #902413;
      text-decoration: none;
    }
    .dropdown-item{
      padding-left: 0rem !important;
    }

  }

  // show contact us button center in toggle view
  .form-inline{
    justify-content: center;
    margin-right: 2rem;
  }

