.footer-middle{
    background: rgb(31, 33, 41);
    color: #fff;
    padding-top:3rem; 
}
.footer-bottom{
    padding-top:3rem; 
    padding-bottom:2rem; 
    margin-left: 0;
    margin-right: 0;
    
}

ul li {
    font-size: 12px;
    margin:0 0 5px 0;   

}
ul li a {
    color:rgb(208,208,208);
    margin:0 0 10px 0;   
}
ul li a:hover{
    color: rgb(172,172,172);
    text-decoration: none;
}

p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem; 
}

.formStyle{
    background-color:rgb(47,50,59);
    padding-top: 1rem; 
    margin-top:0.4rem;   
}
