.pStyle{
    line-height: calc(20px + 0.5vw)!important;
    font-size: calc(12px + 0.4vw) !important;
}

.productDetailsSection {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background:rgb(248,248,248);
  }
