.pStyle{
    line-height: calc(20px + 0.5vw)!important;
    font-size: calc(12px + 0.4vw) !important;
}

.productDetailsSection {
    padding-top: 2rem;
    padding-bottom: 4rem;
    background:rgb(248,248,248);
    .slideW {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          max-width: 100%;
        }
      }
    
    .productDetailsStyle{
        height:calc(120px + 20vw);
        padding-left:2rem; 
        padding-top:calc(10px + 2vw);
    }
     
  }

  .modal{
    .carousel-control-next {
        top: 0;
        opacity:1;
        right:-18%;
        }
    .carousel-control-prev {
        top: 0;
        opacity:1;
        left:-18%;
    }
  }
    
    .modal-backdrop {
        background-color:rgb(50,50,50);
      }
    .modal-backdrop.show {
        opacity: 0.9;
    }
    .modal-content{
        width:78%;
        margin:auto;
        
    }
  .nextArrowIconStyle {
    background-image: url("./right-arrow.png");
    height: 38px;
    width: 53px;
    size:80%;
  }
  
  .prevArrowIconStyle {
    background-image: url("./left-arrow.png");
    height: 38px;
    width: 53px;
  }
