.newsListTitleRow:after {
    content: "";
    display: table;
    clear: both;
  }

.newsListDateTime{
    float: left;
    width: 28%;
    padding: 10px;
    text-align: center;
}

.newsListTitle{
    float: left;
    width: 72%;
    padding: 10px;
    text-align: left;
    top: 50%;
    margin-bottom: 0.6rem;
  }

  .newsListShortDescription {
    padding-left:0px;
    text-align: left;
    font-size: 13px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 3em; 
    line-height: 1.5em;
    overflow: hidden; 
  }


.card:hover{
    .newsListUnderline {
        background: #902413;
    }
    .newsListTitleRow{
      .newsListDateTime{
        h1{
          font-size: 41px;
        }
        p{
          font-size: 12px;
        }
      }
      .newsListTitle{
        .newsListTitleText{
          font-size: 15.5px;
          padding-bottom:5px;
          font-weight:560;
        }
        .newsListShortDescription{
          font-size: 13.5px;
        }
      }
    }
    
}

.newsListTitleText{
  font-size:15px;
  padding-bottom:5px;
  font-weight:560;
}
.newsListUnderline {
    height: 2px;
    margin-bottom: 1.25rem;
    background:white;
    margin-left: auto;
    margin-right: 5%;
    margin-top: -5%;
    width: 83%;
  }

  .newsListArrow{
      padding-top: 18px;
      align-items: center;
      display: flex;
      justify-content: space-between;  
      .newsListMoreButton{
        font-size: 11px;
        padding-left: 0;
        border: none;
        background-color: white;
        &:focus { outline: none; }
        &:hover {
          color: #902413;
        }
      }
      .newsListHalfArrowImg{      
        font-size: 11px;
        right:0;
        border: none;
        background-color: white;
        &:focus { outline: none; }
        &:hover {
          color: #902413;
          font-size: 12px;
        }
      }
    }