
.moreArrowIconStyle{
    height: calc(14.5px + 0.4vw);
    width: calc(16px + 0.4vw);
    position:absolute;
    margin-left: -3px;
    padding-right: 1px;
}




@media screen and (min-width:576px){
    .moreArrowIconStyle{
        height: calc(16px + 0.4vw);
        width: calc(16px + 0.4vw);
        position:absolute;
    }
}

