.homePageSectionTitle {
    margin-bottom: 0.3rem;
    text-align: left;
    padding-left: 6%;
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: bold;
  }
.homePageSubSectionTitle {
    margin-bottom: 0rem;
    padding-left: 6%;
    padding-right: 6%;
    max-width: 1170px;
    width: 90vw;
    margin: 0 auto;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}

  .linkToDetailPage{
    text-decoration: none;
    color:rgb(71, 71, 73); 
    position : relative;
    text-align : center;
    &:hover{
      text-decoration: none;
      color: #902413;
    }
  }