@import "../../common/sizes.scss";
.about-us-middle-container {
	display: grid;
	display: -ms-grid;
	grid-template-columns: 1fr 1fr;
	-ms-grid-columns: 1fr 1fr;

	.about-us-middle-left-container {
		-ms-grid-column: 1;
		background-color: rgb(133,35,20);
		display: flex;
		align-items: center;

		.text-container {
			color: white;
			padding-top: 10%;
			padding-bottom: 8%;
			padding-left: 13%;;
			padding-right: 10%;
			.text-title {
				font-size: calc(15px + 0.5vw);
				padding-bottom: 3%;
			}

			.text-content {
				color:white;
				font-size: calc(13px + 0.2vw);
			}

		}
	}
	.about-us-middle-right-container {
		-ms-grid-column: 2;
		img {
			width: 100%;
			height: 100%;
		}
	}
}

@media (max-width: $small) {
	.about-us-middle-container {
		grid-template-columns: 100vw;
		-ms-grid-columns: 1fr;
	}
}
