.tabImage{
    width:100vw;
    height: calc(100vh - 40px);
    padding-bottom: 0;
    background-size: cover;
}

.linkToProductListButton{
    color:black;
    font-weight: 450;
    padding-right: calc(14px + 1vw);
    &:hover {
        color: #902413;
        outline: none; 
        text-decoration: none;

      }
}
.topTeasStyle{
    display:flex;
    padding-top:18%;
    justify-content:center;
    align-items:center;
}

.btnContainerStyle {
    background-color:white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
    border-right:12px solid rgb(248,248,248);
  }

.tabArrow{
    align-items: center;
    display: flex;
    justify-content: space-between;  
    .tabMoreButton{
      line-height: 2;
      font-size: 12px;
      color:black;
      border: none;
      &:focus { outline: none; }
      &:hover {
        color: #902413;
        outline: none; 
        text-decoration: none;

      }
    }
    .tabHalfArrowImg{
      font-size: 11px;
      left:10%;
      border: none;
      color:black;
      margin-left: 10px;
      width:27px;
      height:7px;
      margin-right:15px;
      margin-bottom: 1px;
      &:focus { outline: none; }
      &:hover {
        color: #902413;
      }
    }
  }
    .tea2{
        width: calc(60px + 12vw);
    }
    .tea1{
       width: calc(73px + 12vw);
    } 
    .tea0{
        position:absolute !important;
        justify-content: center;
        z-index: 2;
        // margin-left: 45px;
        width:calc(80px + 12vw);
        bottom:-40% !important;
    }
    
.underlineImage{
    padding-top:18%;
    width:100%;
    margin-left: -6px;
}
.calliRightImageStyle{
     margin-top: 10%;
     width:100%;
     height:auto;
}
.calliRowStyle{ 
    padding-top:10%;
}
.lowTeaStyle{
    justify-content:center;
    margin-left:7%;
}
.calliSampleArrowStyle{
    padding-top:40%;
}


@media screen and (min-width: 375px){
    .lowTeaStyle{
        justify-content:center;
        margin-left: 12%;
    }
    .calliSampleArrowStyle{
        padding-top:40%;
    }
}


@media screen and (min-width: 576px) { // >=576
    .tabImage{
        height: 50vh;

    }
    
    .tea2{
        width: calc(60px + 12vw);
    }
    .tea1{
       width: calc(83px + 12vw);
    } 
    .tea0{
    width:calc(90px + 12vw);
    bottom:-2% !important;
    }
    .underlineImage{
        padding-top:15%;
        width:75%;
        margin-left: -6px;
    }
    .calliRightImageStyle{
        margin-top: 10%;
        width:100%;
        height:auto;
   }
   .calliRowStyle{ 
    padding-top:2%;
}
.calliSampleArrowStyle{
    padding-top:30%;
}
   
}

@media screen and (min-width: 768px) { 
    .tabImage{
        // max-height: 75vh;
        height: calc(50vh - 40px);
        // height: auto;
    }
    .tea2{
        width: calc(80px + 12vw);
    }
    .tea1{
       width: calc(100px + 12vw);
    } 
    .tea0{
    width:calc(110px + 12vw);
    bottom:-20% !important;
    }
    .underlineImage{
        padding-top:18%;
        width:75%;
        margin-left: -6px;
    }
    .calliRightImageStyle{
        margin-top: 13%;
        width:85%;
        height:auto;        
        margin-left:4%;

   }
   .calliRowStyle{ 
    padding-top:7%;
}
.topTeasStyle{
    display:flex;
    padding-top:18%;
    justify-content:flex-start;
    align-items:center;
  }
  .lowTeaStyle{
    justify-content:center;
    margin-right: 20%;
}
.calliSampleArrowStyle{
    padding-top:0%;
}

}

// @media only screen 
//   and (min-width: 768px) 
//   and (max-height: 1024px) 
//   and (-webkit-min-device-pixel-ratio: 1.5) {
//     .tabImage{
//         // height: 82vh;
//         height: calc(50vh - 44px);
//         // max-height: 92vh;
//     }
// }

/* Portrait */




@media screen and (min-width: 992px) { 
    .tabImage{
        // height: 82vh;
        height: calc(100vh - 40px);
        // max-height: 92vh;
    }
    .tea2{
        width: calc(120px + 12vw);
    }
    .tea1{
       width: calc(143px + 12vw);
    } 
    .tea0{
    width:calc(150px + 12vw);
    bottom:-30% !important;
    margin-right: 10%;
    }
    .underlineImage{
        padding-top:20%;
        width:75%;
        margin-left: -6px;
    }
    .calliRightImageStyle{
        // margin-top: -3%;
        margin-left:5%;
        width:74%;
        height:auto;
    }
    .calliRowStyle{ 
        padding-top:10%;
    }
    .calliSampleArrowStyle{
        padding-top:0%;
    }
}

@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .tabImage{
        // height: 82vh;
        height: calc(50vh - 44px);
        // max-height: 92vh;
    }
}

/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .tabImage{
        // height: 82vh;
        height: calc(50vh - 44px);
        // max-height: 92vh;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .tabImage{
        // height: 82vh;
        height: calc(50vh - 44px);
        // max-height: 92vh;
    }

}

@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .tabImage{
        // height: 82vh;
        height: calc(50vh - 44px);
        // max-height: 92vh;
    }
}

/* Landscape */
@media only screen 
  and (min-width: 768px) 
  and (max-height: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {
    .tabImage{
        // height: 82vh;
        height: calc(100vh - 44px);
        // max-height: 92vh;
    }

}


@media screen and (min-width: 1200px) {
    .tabImage{
        height: calc(100vh - 40px);
    }
    .tea2{
        width: calc(130px + 12vw);
    }
    .tea1{
       width: calc(160px + 12vw);
    } 
    .tea0{
    width:calc(160px + 12vw);
    bottom:-30% !important;
    }   
    .underlineImage{
        padding-top:30%;
        width:80%;
        margin-left: -6px;
    }
    .calliRightImageStyle{
        margin-top: 15%;
        width:68%;
         height:auto;
         margin-left:10%;

    }
    .calliRowStyle{ 
        padding-top:10%;
    }
    .calliSampleArrowStyle{
        padding-top:0%;
    }

}


@media screen and (min-width: 1400px){
    .tabImage{
        height: calc(100vh - 30px);
    }
    .lowTeaStyle{
        margin-right: 20%;
    }
    .calliSampleArrowStyle{
        padding-top:0%;
    }
}

@media screen and (min-width: 1920px){
    .lowTeaStyle{
        margin-right: 30%;
    }
    .calliSampleArrowStyle{
        padding-top:0%;
    }
}



